.App {
  text-align: center;
  margin: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mealCard ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /** so that button aligns center **/
  padding: 0;
}

/** every meal button **/
.card{
  width: 12rem;
  margin: 4px;
}

.mealCard h1{
  color: #1a29ff;
}

#productList{
  padding: 0;
  font-size: large;
  font-style: oblique;
}

.list-group-item{
  width: available;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

